@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import './normalize.scss';

:root {
  --black: #222;
  --grey-light: #e8e8e8;
  --grey-dark: #6e6e6e;
  --primary: #ffbd59;
  --secondary: #005f73;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  padding-top: 64px;
  color: var(--black);
  font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
}

@media (min-width: 768px) {
  body {
    padding-top: 96px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.25;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  line-height: 1.5;
  font-size: 1rem;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

picture {
  max-width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: calc(100% - 2rem);
  margin: 0 auto;
}

.section-title {
  font-size: 1.5rem;
}

.btn-primary {
  appearance: none;
  color: var(--secondary);
  background-color: var(--primary);
  font-weight: bold;
  padding: 0.75rem 1.75rem;
  border-radius: 4px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 0.2s;
}

.icon-plus {
  position: relative;
  width: 40px;
  height: 40px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: var(--secondary);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    width: 24px;
    height: 4px;
  }

  &::after {
    width: 4px;
    height: 24px;
  }
}

.table-wrapper {
  padding: 0.75rem;
}

.table {
  width: 100%;
  max-width: 100%;
  font-size: 0.875rem;
  padding: 0 0.75rem;
  border-collapse: collapse;
  thead {
    th {
      padding: 8px;
    }
  }
  tbody {
    td {
      padding: 8px;
      line-height: 1.5;
      border-bottom: 1px solid var(--grey-dark);

      &:first-of-type {
        font-weight: bold;
      }
    }
  }
}

.remark {
  margin-top: 1rem;
  font-size: 0.875rem;
  color: var(--grey-dark);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.25rem;
  background-color: var(--secondary);
  text-align: center;
  color: #fff;
  p {
    font-size: 0.75rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .table-wrapper {
    padding: 0.75rem 1rem;
  }

  .btn-primary {
    font-size: 1.5rem;

    &:hover {
      color: var(--primary);
      background-color: var(--secondary);
    }
  }

  .section-title {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.6;
  }

  .table {
    font-size: 1rem;
  }

  .footer {
    p {
      font-size: 1rem;
    }
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}

@import '_navbar.scss';
@import './section.scss';
